<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Work Count</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    {{{ body }}}
    <footer>
      <a class="link-back" title="Learning React: Building A Real-Time Node and React Application" href="">Your Work Count</a>
    </footer>
    <script src="js/bundle.js"></script>
  </body>
</html>
